.topPlayer-Container {
  width: 95%;
  height: 10%;
  border: 4px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leaderboard-title {
  height: 100%;
  font-size: 1.3rem;
  font-weight: 600;
  color: white;
  background-color: #4b0082;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leaderboard-top-player {
  height: 100%;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  background-color: #b449f1d9;
  display: flex;
  justify-content: center;
  align-items: center;
}
