.menu-button {
  width: 13rem;
  height: 3.5rem;
  background-color: #4b0082;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.1s ease;
  cursor: pointer;
}

.menu-button:hover {
  background-color: #5c0aa5;
}

.menu-button:active {
  background-color: #3a006b;
}

.leaderboardButtons {
  width: 20rem;
  height: 4rem;
  background-color: #4b0082;
  color: #ffffff;
  font-size: 1.3rem;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.highScoresDisplay {
  width: 20rem;
  height: 4rem;
  background-color: #4b0082;
  color: #ffffff;
  font-size: 1.3rem;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
